[submodule "themes/codex"]
	path = themes/codex
	url = https://github.com/jakewies/hugo-theme-codex
[submodule "public"]
	path = public
	url = https://github.com/nadirabid/nadirabid.github.io.git
	branch = master
